html,body,.modal{
    direction:rtl;
    font-family: "IRANSansWeb Light",monospace;
}
.modal .form-group{
    text-align:right;
}
.list-coffee .pic{
    height:120px;
}
.list-coffee .pic img{
    display:block;
    width:100%;
    height:100%;
    border-radius: 3px;
}
.signUp{
    width:500px;
    height:100vh;
    margin:auto;
    padding:100px 0;
    direction:ltr;
}